<nav>
    <div>
        <div class="links-wrapper">
            <a href="{{ url_for("Login.home") }}">Home</a>
            <a href="{{ url_for("Produce.players") }}">Player info</a>
            <a href="{{ url_for("Produce.clubs") }}">Club info</a>
            <a href="{{ url_for("Produce.league_table") }}">League Table</a>
            {% if current_user.is_authenticated %}
            <a href="{{ url_for("Produce.add_match_info") }}">Add match info</a>
            <a href="{{ url_for("Produce.delete_match") }}">Delete match</a>
            {% endif %}
        </div>

        <div class="links-wrapper">
            {% if current_user.is_authenticated %}
                <span class="text--gray">Logged in as: {{ current_user.user_name }}</span>
                <a href="{{ url_for("Login.logout") }}">Logout</a>
            {% else %}
                <a class="text--gray" href="{{ url_for("Login.signup") }}">Sign up</a>
                <a href="{{ url_for("Login.login") }}">Login</a>
            {% endif %}
        </div>
    </div>
</nav>