{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}

{% block content %}
    <h1>
        About SuperStats
    </h1>

    <section>
        <h2>We bring the latest stats on SuperLiga</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut, cum delectus, deleniti doloremque
            doloribus
            exercitationem hic nam nobis non officia quae quisquam quod reprehenderit repudiandae rerum suscipit,
            tempora unde.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur consequuntur delectus dolore
            dolores esse eveniet, exercitationem fugiat illum inventore molestias nam necessitatibus obcaecati optio
            perspiciatis placeat, recusandae sunt, tempore.
        </p>
    </section>

    <section>
        <h2>Same-day info</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad, architecto asperiores atque illo, laborum
            libero maiores molestiae nihil non numquam odit, ratione reprehenderit repudiandae sunt temporibus vel.
            Quis, quod!
        </p>
    </section>
{% endblock %}