{% extends 'base.html' %}
{% from 'components/macros.html' import select_field, search_club_form, club_card %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/info.css') }}">
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h2>Find specific club</h2>
    <h3 class="text--gray">
        Search for a club by name
    </h3>
    {{ search_club_form(form=form) }}
    <div class="info">
        {% if clubs|length %}
            {% for club in clubs %}
                {{ club_card(club=club) }}
            {% endfor %}
        {% else %}
            <h3 class="text--gray">
                No clubs found for searched name
            </h3>
        {% endif %}
    </div>
{% endblock %}